/* body fade animation */
body {
  padding-top: 80px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

/* page load hole opacity 1 hobe */
body.fade-in {
  opacity: 1;
}

.banner {
  position: relative;
  height: 80vh; 
  background: url("../images/banner.jpg") center center/cover no-repeat ;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

/* Dark overlay */
.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}


.banner .container {
  position: relative;
  z-index: 2;
}

.navbar-nav .nav-link {
    font-size: 1.25rem; /* Bigger text */
    font-weight: 600; /* Slightly bold */
  }

.navbar .d-flex {
  z-index: 1050; /* নিশ্চিত dropdown icon দেখাবে */
  position: relative;
}


   .why-card {
        border: 1px solid #e6e6e6;
        border-radius: 10px;
        transition: transform 0.3s ease;
        text-align: center;
        padding: 20px;
        height: 100%; /* make all cards equal height */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .why-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    }

    .why-icon {
        width: 80px;
        height: 80px;
        background-color: #8ABC48;
        color: white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 35px;
        margin: 0 auto 15px;
    }

    .why-title {
        font-weight: bold;
        font-size: 1.2rem;
        margin-bottom: 10px;
    }

    .why-text {
        color: #555;
        font-size: 0.95rem;
        flex-grow: 1; /* make text expand so all cards align */
    }


    /* FAQ section */
   
    .accordion-button {
        background-color: #8ABC48;
        color: white;
        font-weight: bold;
    }

    .accordion-button:focus {
        box-shadow: none;
    }

    .accordion-body {
        color: #555;
        font-size: 0.95rem;
    }

    h2 {
        font-weight: bold;
    }