.banner {
  position: relative;
  height: 80vh; /* Adjust height as needed */
  background: url("../images/banner.jpg") center center/cover no-repeat ;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Dark overlay */
.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}


.banner .container {
  position: relative;
  z-index: 2;
}
